@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-color: #2c2f33;
  --secondary-color: #fff;

  --color1: #36454F;
  --color2: #56595c;
  --color3: #FBFBF9;
}

Link,a
{
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

Link:hover,a:hover
{
  text-decoration: none;
}